* {
  box-sizing: border-box;
}

#createBook {
  width: fit-content;
  bottom: 0;
  left: 0;
  background-color: white;

  #form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .btn {
      width: fit-content;
    }
  }
}

#books {
  border: 2px solid black;

  .book {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    #title {
      margin: 4px;
    }
  }

  .book:nth-child(even) {
    background-color: #dddddd;
  }
}
